# ===============================
# Visual Studio
# ===============================
.vs/
*.vcxproj.user
*.suo

# ===============================
# Build output (ali NE packages)
# ===============================
*.pdb
*.ilk
*.tlog
*.log
*.exe
*.idb

# ===============================
# IntelliSense / cache
# ===============================
*.ipch
*.cache

# ===============================
# OS junk
# ===============================
Thumbs.db
.DS_Store
